body {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-family: fantasy;
}

.color {
  width: 60px;
  height: 60px;
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
}

.quadrado0 {
  background-color: black;
}

.quadrado1 {
  background-color: blue;
}

.quadrado2 {
  background-color: aquamarine;
}

.quadrado3 {
  background-color: yellow;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
}
